
<%- include('header') %>
    
        <% for (let message of messages) { %>
            <section class="section">
                <p class="user"></p><b><%= message.user %>: </b><%= message.text %></p>
                <p class="date"><%= message.added %></p>
            </section>
        <% } %>
        <a href="/new">Add message</a>
    
<%- include('footer') %>